{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load widget_tweaks %}



<header>
    {% block header %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        {{ form.media.css }}   
        <form method="post">
            <div class="col-auto mb-3 mx-1">
                <input type="submit" class="btn btn-outline-success btn-sm me-2 " value="SPEICHERN">
                <a href="{%url 'auftrag_auftragsliste'%}" class="btn btn-outline-success btn-sm me-2 ">Liste</a>
            </div>
    </nav>  
    {% endblock %}
</header>

{% block content %}
        <br>
        <br>
        <br>
        <br> 
        {%csrf_token%}   
        <div class="row">
            <div class="col-3">
                <label for="{{ form.kundenauftrag.id_for_label }}">Kundenauftrag</label>
                {% render_field form.kundenauftrag class="form-control" %}
            </div>
            <div class="col-3">
                <label for="{{ form.kundenname.id_for_label }}">Kundenname</label>
                {% render_field form.kundenname class="form-control" %}
            </div>
            <div class="col-3">
                <label for="{{ form.v_endtermin.id_for_label }}">Endtermin</label>
                {% render_field form.v_endtermin type="date" class="form-control" %}
            </div>
            <div class="col-3">
                <label for="{{ form.statuskundenauftrag.id_for_label }}">Status Kundenauftrag</label>
                {% render_field form.statuskundenauftrag class="form-control" %}
            </div>
        </div>  
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}
   
   
{% endblock %}