{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% bootstrap_css %}
{% bootstrap_javascript %}


    {% block header %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"> 
        <form method="get" class="row g-3 mx-3">
            <div class="col-auto">
                <input name="searchsuche" class="form-control mb-3 mx-1" type="search"  placeholder="Kundenauftrag enthält">
            </div>
        </form>
        <form method="post">
            <div class="col-auto ">
                <button type="submit" class="btn btn-outline-success mb-3 mx-1">Search</button>
                <input type="submit" class="btn btn-outline-success mb-3 mx-1" value="SPEICHERN">
                <a href="{%url 'auftrag_auftragsliste'%}" class="btn btn-outline-success mb-3">Liste</a>
            </div> 
    </nav> 
    {% endblock %}



    {% block content %}
        <br>
        <br>
        <br>
        <br>    
        
        {%csrf_token%}   
            <div class="row">
                <div class="col-4">
                    {{ form.kundenauftrag|as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ form.kundenname|as_crispy_field}}
                </div>
                <div class="col-4">
                    {{ form.statuskundenauftrag|as_crispy_field }} <!--25.06.2025 dazu-->
                </div>
            </div>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ formset.media }}     
    {% endblock %}





 