{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block header %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top w-100">
  <div class="container-fluid px-2 d-flex align-items-center">
    <a href="{{ back_url }}" class="btn btn-outline-success btn-sm me-2">{{ back_label }}</a>
    <span class="text-danger me-2">{{ mode_label }}</span>
    {% if show_save_button %}
      <button type="submit" form="urblatt-form" class="btn btn-success btn-sm me-2">Speichern</button>
    {% endif %}
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-5 pt-4">

  {% if object.u_bild %}
    <!-- Zeige nur Bild -->
    <p><strong>Materialnummer:</strong> {{ object.materialnummer.materialnummer }} - {{ object.materialnummer.bezeichnung }}</p>
    <div class="mt-2">
      <img src="{{ object.u_bild.url }}" alt="Urblatt Bild" class="img-thumbnail">
    </div>
  {% else %}
    <!-- Zeige Formular, wenn noch kein Bild -->
    <form id="urblatt-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
    </form>
  {% endif %}
</div>
{% endblock %}

