{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load widget_tweaks %}

{% block header %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top w-100">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            {% if show_save_button %}
                <button type="submit" form="main-form" class="btn btn-outline-success btn-sm me-2">Speichern</button>
            {% endif %}
            {% if back_url %}
                <a href="{{ back_url }}" class="btn btn-outline-success btn-sm me-2">{{ back_label }}</a>
            {% endif %}
        </div>
        <div class="text-danger ms-auto" style="font-weight: normal;">
            {{ mode_label }}
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <form method="post" enctype="multipart/form-data" id="main-form">
        {% csrf_token %}

        <div class="row">
            <div class="col-4">
                <label for="{{ form.materialnummer.id_for_label }}">Materialnummer</label>
                {% render_field form.materialnummer class="form-control" %}
            </div>
            <div class="col-4">
                <label for="{{ form.u_schnittwerkzeug.id_for_label }}">Schnittwerkzeug</label>
                {% render_field form.u_schnittwerkzeug class="form-control" %}
            </div>
        </div>

        <div class="mt-3">
            <label for="{{ form.u_bild.id_for_label }}">Bild hochladen</label>
            {% render_field form.u_bild class="form-control" %}

            {% if form.instance.u_bild %}
                <img src="{{ form.instance.u_bild.url }}" alt="Bild" style="max-width: 300px;" class="mt-2">
            {% endif %}

            {% if show_save_button %}
                <button type="submit" class="btn btn-success mt-2">Speichern Bild</button>
            {% endif %}
        </div>
    </form>
</div>

{{ form.media.js }}
{% endblock %}

