<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load django_bootstrap5 %}
    {% load crispy_forms_tags %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Peter's{% endblock %}</title>
    {{ formset.media }}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link href="{% static 'django_select2/django_select2.css' %}" rel="stylesheet">
    <script src="{% static 'django_select2/django_select2.js' %}"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>

    <main class="mt-0 px-2"> <!-- px-2 = leichter horizontaler Abstand -->
        {% block content %}{% endblock %}
    </main>
</body>
</html>
