/* Body und Header Abstand für fixed Navbar */
body {
    background-color: white; 
    margin: 0;
    padding-top: 48px; /* Höhe der Navbar + kleiner Puffer */
}

header, main {
    margin: 0;
    padding: 0;
}

/* Kein Border für spezielle Elemente */
.no-border {
    border: none;
    box-shadow: none;
}

/* Input Styling */
input {
    border: none;
}

/* Select2 Anpassungen */
.select2-selection__rendered {
    line-height: 35px !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}
.select2-container {
    width: 100% !important;
}

/* Tabelle kompakter */
.table-sm td, 
.table-sm th {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem; 
}
.fs-7 {
    font-size: 0.75rem; 
}

/* Overflow für Tabelle auf kleinen Bildschirmen */
.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.navbar .form-control,
.navbar .form-select {
    height: 32px;      /* kleiner als Standard 38px */
    font-size: 0.75rem; /* etwas kleinere Schrift */
    padding: 0.25rem 0.5rem; /* kompakter */
}

/* Navbar Buttons gleich hoch und gleich breit */
.navbar .btn-navbar {
    display: inline-flex;        /* Flex für vertikale + horizontale Zentrierung */
    align-items: center;         /* vertikal zentrieren */
    justify-content: center;     /* horizontal zentrieren */
    min-width: 90px;             /* alle Buttons gleiche Mindestbreite */
    height: 36px;                /* feste Höhe */
    padding: 0 10px;             /* horizontaler Innenabstand */
    font-size: 0.875rem;         /* entspricht btn-sm */
}

select.form-select {
    font-size: 0,75rem; /* fs-7 */
    color: #212529; /* text-dark */
}

textarea.form-control {
    height: 38px;       /* Höhe wie normales Input */
    resize: none;       /* kein Ziehen möglich */
    overflow: hidden;   /* kein Scrollbar */
}

/* readonly Felder grau hinterlegt und unbearbeitbar */
.readonly-field {
    background-color: #e9ecef !important;
    color: #6c757d !important; /* Text grau */
    pointer-events: none; /* verhindert Interaktion */
    cursor: not-allowed;  /* verändert Cursor, um Inaktivität zu zeigen */
}

/* Für Select2, falls es bei readonly auch betroffen ist */
.select2-container--disabled .select2-selection {
    background-color: #e9ecef !important;
    color: #6c757d !important;
}
