
.no-border {
  border: none;
  box-shadow: none;
}

input {
    border: none;
}


.select2-selection__rendered {
    line-height: 35px !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

    table.table td, 
    table.table th {
        vertical-align: middle;
        text-align: left;
    }


    .table.table-sm td, 
    .table.table-sm th {
        font-size: 0.7rem;   /* Schriftgröße kleiner */
        padding: 0.2rem;     /* weniger Abstand */
        line-height: 1.1;    /* kompaktere Zeilenhöhe */
    }


/* Navbar kompakt machen */
    .navbar {
        padding-top: 0.2rem !important;
        padding-bottom: 0.2rem !important;
        min-height: 40px; /* Höhe reduzieren */
    }

    .navbar .form-control,
    .navbar .form-select,
    .navbar .btn {
        padding: 0.2rem 0.4rem;
        font-size: 0.8rem;
    }

    .navbar .nav-link,
    .navbar-brand {
        padding-top: 0.2rem !important;
        padding-bottom: 0.2rem !important;
        font-size: 0.85rem;
    }

    /* Content unter Navbar schieben */
    body {
        padding-top: 0px; /* Höhe an Navbar anpassen */
    }